{{define "big-img"}}
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<!-- <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div> -->
		<div class="modal-body row">
			<div class="col-xs-offset-3 col-xs-9 col-md-offset-2 col-mod-6">
				<img src="" alt="图片加载中" />
			</div>
		</div>
	</div>
</div>
{{end}}
