<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="leon">
	<title>小白</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/swiper.min.css" rel="stylesheet">
	<link href="xiaobai/css/styles.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1>小白的前半生</h1>
			<p>小白一只藏身于城市间的白色恶魔，凭借其强大的技能（卖萌）游走于魔都的少男少女间……</p>
			{{if .CanModify}}
			<p><a class="btn btn-primary btn-lg" href="#" role="button"
				data-toggle="modal" data-target="#editEvent" data-event-id="0">添加事件</a></p>
			{{end}}
		</div>
	</div>

	{{$CanModify := .CanModify}}
	<div class="div-img-box">
		{{range $i, $_ := .EventList}}
		<div class="thumbnail div-img" id={{$i}}>
			<h2>{{.Title}}</h2>
			<img src="{{.Image}}?imageView2/4/w/300/h/300" alt="图片被狗吃了" onclick="toBig({{$i}})" />
			<p>{{.Desc}}</p>
			<div class="container-fluid">
				<div class="row">
					{{if $CanModify}}
					<button class="col-xs-3 btn btn-default" type="button"
						data-toggle="modal" data-target="#editEvent" data-event-id={{.Id}}>修改</button>
					{{end}}
					<p class="{{if $CanModify}}col-xs-9{{else}}col-xs-12{{end}} text-right"><small>{{.Time}}</small>&nbsp;&nbsp;{{.Address}}</p>
				</div>
			</div>
		</div>
		{{end}}
	</div>
	<div class="swiper-container big-img-box hidden">
		<button type="button" class="close" onclick="toSmall()"><span>&times;</span></button>
		<div class="swiper-wrapper">
			{{range .EventList}}
			<div class="swiper-slide">
				<div class="swiper-zoom-container">
					<figure>
						<img src="{{.Image}}?imageView2/2/h/700" alt="图片被狗吃了" />
						<figcaption class="img-caption">
							<h4 style="text-align:left">{{.Title}}</h2>
							<p style="text-align:justify;text-indent:4em">{{.Desc}}</p>
							<p style="text-align:right"><small>{{.Time}}</small>&nbsp;&nbsp;{{.Address}}</p>
						</figcaption>
					</figure>
				</div>
			</div>
			{{end}}
		</div>
		<!-- Add Navigation -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>

	<div class="modal fade" id="editEvent" tabindex="-1" role="dialog" aria-labelledby="editEventLabel">
		{{template "edit-event"}}
	</div>

	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plupload.full.min.js"></script>
	{{if .WxFlag}}
	<p class="hidden" id="isWx">1</p>
	<!-- <script src="js/jweixin-1.2.0.js"></script> -->
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	{{end}}
	<script src="js/qiniu.min.js"></script>
	<script src="js/swiper.jquery.min.js"></script>
	<script src="laydate/laydate.js"></script>
	<script src="xiaobai/js/xb.js"></script>
</body>
</html>
